# A Transportation Problem
## Importing GAMSPy

In [6]:
# Install dependencies
! pip install -q gamspy

In [1]:
from gamspy import Model, Container, Sum, Sense

## Importing Further Python Libraries

In [2]:
import pandas as pd
import sys

## Prepare data

In [3]:
distances = pd.DataFrame([
    ["seattle", "new-york", 2.5],
    ["seattle", "chicago", 1.7],
    ["seattle", "topeka", 1.8],
    ["san-diego", "new-york", 2.5],
    ["san-diego", "chicago", 1.8],
    ["san-diego", "topeka", 1.4],
], columns=['from', 'to', 'distance'])

distances.set_index(['from', 'to'])

                    distance
from      to
seattle   new-york       2.5
          chicago        1.7
          topeka         1.8
san-diego new-york       2.5
          chicago        1.8
          topeka         1.4

In [4]:
capacities = pd.DataFrame([["seattle", 350], ["san-diego", 600]], columns=['city', 'capacity'])

capacities.set_index('city')

           capacity
city
seattle         350
san-diego       600

In [5]:
demands = pd.DataFrame([["new-york", 325], ["chicago", 300], ["topeka", 275]], columns=['city', 'demand'])

demands.set_index('city')

          demand
city
new-york     325
chicago      300
topeka       275

## Create a Container

In [6]:
m = Container()

## Define Sets

In [7]:
i = m.addSet(name="i", records=capacities.city)
j = m.addSet(name="j", records=demands.city)

## Parameter

In [8]:
a = m.addParameter(name="a", domain=[i], records=capacities)
b = m.addParameter(name="b", domain=[j], records=demands)
d = m.addParameter(name="d", domain=[i, j], records=distances)
c = m.addParameter(name="c", domain=[i, j])
c[i, j] = 90 * d[i, j] / 1000

## Variables

In [9]:
x = m.addVariable(name="x", domain=[i, j], type="Positive")

## Equations
### Supply

In [10]:
supply = m.addEquation(name="supply", domain=[i])

supply[i] = Sum(j, x[i, j]) <= a[i]

### Demand

In [11]:
demand = m.addEquation(name="demand", domain=[j])

demand[j] = Sum(i, x[i, j]) >= b[j]

## Objective

In [12]:
obj = Sum((i, j), c[i, j] * x[i, j])

## Model

In [13]:
transport = Model(
        m,
        name="transport",
        equations=m.getEquations(),
        problem="LP",
        sense=Sense.MIN,
        objective=obj,
    )

## Solve

In [14]:
transport.solve(output=sys.stdout)

--- Job _gams_py_gjo0.gms Start 09/25/23 16:49:27 45.0.0 a37313c4 WEX-WEI x86 64bit/MS Windows
--- Applying:
    C:\Users\jbroi\anaconda3\envs\test\Lib\site-packages\gamspy\minigams\windows\gmsprmNT.txt
    C:\Users\jbroi\Documents\GAMS\gamsconfig.yaml
--- GAMS Parameters defined
    LP HIGHS
    MIP HIGHS
    RMIP HIGHS
    NLP CONOPT
    MCP PATH
    MPEC NLPEC
    RMPEC CONVERT
    CNS CONOPT
    DNLP CONOPT
    RMINLP CONOPT
    MINLP SBB
    QCP CONOPT
    MIQCP SBB
    RMIQCP CONOPT
    EMP CONVERT
    Input C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\_gams_py_gjo0.gms
    Output C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\_gams_py_gjo0.lst
    Save C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default_save.g00
    ScrDir C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\225a\
    SysDir C:\Users\jbroi\anaconda3\envs\test\Lib\site-packages\gamspy\minigams\windows\
    CurDir C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\
    LogOption 3
    LogFile C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\_gams_py_gjo0.log
    GDX C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
*** ************* ALPHA release
*** GAMS Base Module 45.0.0 a37313c4 Sep 14, 2023  (ALPHA) WEI x86 64bit/MS Window
*** ************* ALPHA release
Licensee: GAMS Working License                           S230720|0002CO-GEN
          GAMS Software GmbH, Braunschweig Office                   DCE2920
          C:\Users\jbroi\Documents\GAMS\gamslice.txt
          License Admin: Justine Broihan, jbroihan@gams.com
          Evaluation license: Not for commercial or production use
          The evaluation period of the license will expire on Jan 16, 2024
Processor information: 1 socket(s), 12 core(s), and 16 thread(s) available
GAMS 45.0.0   Copyright (C) 1987-2023 GAMS Development. All rights reserved
--- Starting compilation
--- _gams_py_gjo0.gms(2) 2 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(5) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(8) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(11) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(14) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(17) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(22) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(25) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(30) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(35) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(38) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(93) 3 Mb
--- Starting execution: elapsed 0:00:00.032
--- _gams_py_gjo0.gms(19) 4 Mb
--- Generating LP model transport
--- _gams_py_gjo0.gms(68) 4 Mb
---   6 rows  7 columns  19 non-zeroes
--- Range statistics (absolute non-zero finite values)
--- RHS       [min, max] : [ 2.750E+02, 6.000E+02] - Zero values observed as well
--- Bound     [min, max] : [        NA,        NA] - Zero values observed as well
--- Matrix    [min, max] : [ 1.260E-01, 1.000E+00]
--- Executing HIGHS (Solvelink=2): elapsed 0:00:00.049

HIGHS            45.0.0 a37313c4 Sep 14, 2023  (ALPHA) WEI x86 64bit/MS Window

Running HiGHS 1.5.4 [git hash: 977756503]
Copyright (c) 2023 HiGHS under MIT licence terms
Options set:
  time_limit           = 1e+10
  threads              = 1
  mip_abs_gap          = 0

Solving LP without presolve or with basis
Using EKK dual simplex solver - serial
  Iteration        Objective     Infeasibilities num(sum)
          0     0.0000000000e+00 Pr: 3(900) 0s
          3     1.5367500000e+02 Pr: 0(0) 0s
Model   status      : Optimal
Simplex   iterations: 3
Objective value     :  1.5367500000e+02
HiGHS run time      :          0.00
--- Reading solution for model transport
--- Executing after solve: elapsed 0:00:00.144
--- _gams_py_gjo0.gms(93) 4 Mb
--- GDX File C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
*** Status: Normal completion
--- Job _gams_py_gjo0.gms Stop 09/25/23 16:49:27 elapsed 0:00:00.148

## Results

In [15]:
x_s = x.records.set_index(['i', 'j'])

x_s

                    level  marginal  lower  upper  scale
i         j
seattle   new-york    0.0    -0.000    0.0    inf    1.0
          chicago   300.0     0.000    0.0    inf    1.0
          topeka      0.0     0.036    0.0    inf    1.0
san-diego new-york  325.0     0.000    0.0    inf    1.0
          chicago     0.0     0.009    0.0    inf    1.0
          topeka    275.0     0.000    0.0    inf    1.0

In [16]:
transport.objective_value

153.675

In [17]:
transport.status