# Quick Start Guide

## Introduction

This quick start guide aims to briefly introduce you to GAMSPy and its main features. After completing this guide you will be able to implement basic mathematical models using GAMSPy. For advanced features we advise you to look into our [Users Guide](https://gamspy.readthedocs.io/en/latest/user/index.html) and the [model library](https://gamspy.readthedocs.io/en/latest/user/model_library.html).

To successfully complete this tutorial it is helpful, but not mandatory, to have basic knowledge of programming in Python and the use of the [Pandas library](https://pandas.pydata.org/).

## A Transportation Problem

The example we will use in this guide is an instance of the transportation problem. We are given the supplies at several plants and the demands at several markets for a single commodity, and we are given the unit costs of shipping the commodity from plants to markets. The economic question is: how much shipment should there be between each plant and each market so as to minimize total transport cost?

The algebraic representation of this problem is usually presented in a format similar to the following.

Indices:

- $i$ = plants
- $j$ = markets

Given Data:

- $a_i$ = supply of commodity of plant $i$ (in cases)
- $b_j$ = demand for commodity at market $j$
- $c_{ij}$ = cost per unit shipment between plant $i$ and market $j$

Decision Variables:

- $x_{ij}$ = amount of commodity to ship from plant $i$ to market $j$ where $x_{ij} \ge 0$ for all $i,j$

Constraints:

- Observe supply limit at plant $i$: $\sum_j x_{ij} \le a_i \: \forall i$
- Satisfy demand at market $j$: $\sum_i x_{ij} \ge b_j \: \forall j$
- Objective Function: Minimize $\sum_i \sum_j c_{ij} \cdot x_{ij}$

## Data

We start by using the Pandas library to include the data which we will later pass to our optimization model.

In [62]:
import pandas as pd

capacities = pd.DataFrame(
    [["seattle", 350], ["san-diego", 600]], columns=["city", "capacity"]
).set_index("city")

capacities

           capacity
city
seattle         350
san-diego       600

In [63]:
demands = pd.DataFrame(
    [["new-york", 325], ["chicago", 300], ["topeka", 275]], columns=["city", "demand"]
).set_index("city")

demands

          demand
city
new-york     325
chicago      300
topeka       275

In [64]:
distances = pd.DataFrame(
    [
        ["seattle", "new-york", 2.5],
        ["seattle", "chicago", 1.7],
        ["seattle", "topeka", 1.8],
        ["san-diego", "new-york", 2.5],
        ["san-diego", "chicago", 1.8],
        ["san-diego", "topeka", 1.4],
    ],
    columns=["from", "to", "distance"],
).set_index(["from", "to"])

distances

                    distance
from      to
seattle   new-york       2.5
          chicago        1.7
          topeka         1.8
san-diego new-york       2.5
          chicago        1.8
          topeka         1.4

In [65]:
freight_cost = 90

## Symbol Declaration

Similar to our separation of the transportation problem into sets, parameter, variables, and constraints we will use this separation to define the transportation problem as a GAMSPy model. Therefore, we need to import the `gamspy` library first.

In [66]:
from gamspy import Model, Container, Sum, Sense

### Container

A container gathers all the information that is relevant for a GAMSPy model. Thus, the first step is to create such a container.

In [67]:
m = Container()

### Sets

Sets are the basic building blocks of a GAMSPy model, corresponding exactly to the indices in the algebraic representations of models.

Indices of the transportation problem:

- $i$ = plants
- $j$ = markets

Sets are associated with a container, which is why we use `Container().addSet()`. You can find further information on the usage of sets in the [user guide](https://gamspy.readthedocs.io/en/latest/user/set.html).

There a two ways to declare sets:

1. Separate declaration and data assignment
2. Combine declaration and data assignment

#### Separate declaration and data assignment

In [68]:
i = m.addSet(name="i", description="plants")
i.setRecords(capacities.index)

#### Combine declaration and data assignment

In [69]:
j = m.addSet(name="j", description="markets", records=demands.index)

The effect of using the above `m.addSet()` statements is that we declared two sets and gave them the names i and j. We added a description to elaborate on the meaning and make the model easier readable. Lastly, we assigned members to the sets as follows:

$i$ = {Seattle, San Diego}

$j$ = {New York, Chicago, Topeka}

To verify, you can use `<python variable>.records`.

In [70]:
i.records

         uni element_text
0    seattle
1  san-diego

In [71]:
j.records

        uni element_text
0  new-york
1   chicago
2    topeka

### Parameters

To declare parameters we use `<container>.addParameter()`. We give the parameter a name and a description. Note that parameter $a_i$ is indexed by $i$. To account for indices we add the `domain` attribute and point to the corresponding set.

Note that you can either, as shown for sets, combine or separate the declaration and the data assignment. For convenience we combine declaration and data assignment from now on.

In [72]:
a = m.addParameter(
    name="a",
    domain=i,
    description="supply of commodity of plant i (in cases)",
    records=capacities.reset_index(),
)
a.records

        city  value
0    seattle  350.0
1  san-diego  600.0

In [73]:
b = m.addParameter(
    name="b",
    domain=j,
    description="demand for commodity at market j",
    records=demands.reset_index(),
)
b.records

       city  value
0  new-york  325.0
1   chicago  300.0
2    topeka  275.0

In [74]:
c = m.addParameter(
    name="c",
    domain=[i, j],
    description="cost per unit shipment between plant i and market j",
)

The cost per unit shipment between plant $i$ and market $j$ is derived from the distance between $i$ and $j$ and can be calculated as follows:

$c_{ij} = \frac{90 \cdot d_{ij}}{1000}$,

where $d_{ij}$ denotes the distance between $i$ and $j$.

We have two options to calculate $c_{ij}$ and assign the data to the GAMSPy parameter:

1. Python assignment - calculation in Python, e.g., using Pandas and `.setRecords()`
2. GAMSPy assignment - calculation on GAMSPy

#### Python Assignment

In [75]:
cost = freight_cost * distances / 1000
cost

                    distance
from      to
seattle   new-york     0.225
          chicago      0.153
          topeka       0.162
san-diego new-york     0.225
          chicago      0.162
          topeka       0.126

In [76]:
c.setRecords(cost.reset_index())
c.records

        from        to  value
0    seattle  new-york  0.225
1    seattle   chicago  0.153
2    seattle    topeka  0.162
3  san-diego  new-york  0.225
4  san-diego   chicago  0.162
5  san-diego    topeka  0.126

#### GAMSPy Assignment

For the direct assignment we need to declare a new parameter denoting the distances between $i$ and $j$.

In [77]:
d = m.addParameter(
    name="d",
    domain=[i, j],
    description="distance between plant i and market j",
    records=distances.reset_index(),
)
d.records

        from        to  value
0    seattle  new-york    2.5
1    seattle   chicago    1.7
2    seattle    topeka    1.8
3  san-diego  new-york    2.5
4  san-diego   chicago    1.8
5  san-diego    topeka    1.4

In [78]:
c[i, j] = freight_cost * d[i, j] / 1000
c.records

           i         j  value
0    seattle  new-york  0.225
1    seattle   chicago  0.153
2    seattle    topeka  0.162
3  san-diego  new-york  0.225
4  san-diego   chicago  0.162
5  san-diego    topeka  0.126

### Variables

The decision variables of a GAMSPy-expressed model must be declared with the `container.addVariable()` statement. Each variable is given a name, a domain if appropriate, a type, and (optionally) description.

In [79]:
x = m.addVariable(
    name="x",
    domain=[i, j],
    type="Positive",
    description="amount of commodity to ship from plant i to market j",
)

This statement results in the declaration of a shipment variable for each (i,j) pair. (You will see in chapter [Equations](#equations), how GAMSPy can handle the typical real-world situation in which only a subset of the (i,j) pairs is allowable for shipment.)

## Equations
Equations must be declared and defined in separate statements. The format of the declaration is the same as for other GAMSPy entities. First comes the keyword, `m.addEquation()` in this case, followed by the name, domain and text. The transportation problem has two constraints:

Supply: observe supply limit at plant $i$: $\sum_j x_{ij} \le a_i \: \forall i$
Demand: satisfy demand at market $j$: $\sum_i x_{ij} \ge b_j \: \forall j$

In [81]:
supply = m.addEquation(
    name="supply", domain=i, description="observe supply limit at plant i"
)
demand = m.addEquation(
    name="demand", domain=j, description="satisfy demand at market j"
)

The equation definition

In [ ]:
supply[i] = Sum(j, x[i, j]) <= a[i]

NameError: name 'x' is not defined

# Demand

In [ ]:
demand = m.addEquation(name="demand", domain=[j])

demand[j] = Sum(i, x[i, j]) >= b[j]

# Objective

In [ ]:
obj = Sum((i, j), c[i, j] * x[i, j])

# Model

In [ ]:
transport = Model(
    m,
    name="transport",
    equations=m.getEquations(),
    problem="LP",
    sense=Sense.MIN,
    objective=obj,
)

# Solve

In [ ]:
import sys

transport.solve(output=sys.stdout)

--- Job _gams_py_gjo0.gms Start 09/25/23 16:49:27 45.0.0 a37313c4 WEX-WEI x86 64bit/MS Windows
--- Applying:
    C:\Users\jbroi\anaconda3\envs\test\Lib\site-packages\gamspy\minigams\windows\gmsprmNT.txt
    C:\Users\jbroi\Documents\GAMS\gamsconfig.yaml
--- GAMS Parameters defined
    LP HIGHS
    MIP HIGHS
    RMIP HIGHS
    NLP CONOPT
    MCP PATH
    MPEC NLPEC
    RMPEC CONVERT
    CNS CONOPT
    DNLP CONOPT
    RMINLP CONOPT
    MINLP SBB
    QCP CONOPT
    MIQCP SBB
    RMIQCP CONOPT
    EMP CONVERT
    Input C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\_gams_py_gjo0.gms
    Output C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\_gams_py_gjo0.lst
    Save C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default_save.g00
    ScrDir C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\225a\
    SysDir C:\Users\jbroi\anaconda3\envs\test\Lib\site-packages\gamspy\minigams\windows\
    CurDir C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\
    LogOption 3
    LogFile C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\_gams_py_gjo0.log
    GDX C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
*** ************* ALPHA release
*** GAMS Base Module 45.0.0 a37313c4 Sep 14, 2023  (ALPHA) WEI x86 64bit/MS Window
*** ************* ALPHA release
Licensee: GAMS Working License                           S230720|0002CO-GEN
          GAMS Software GmbH, Braunschweig Office                   DCE2920
          C:\Users\jbroi\Documents\GAMS\gamslice.txt
          License Admin: Justine Broihan, jbroihan@gams.com
          Evaluation license: Not for commercial or production use
          The evaluation period of the license will expire on Jan 16, 2024
Processor information: 1 socket(s), 12 core(s), and 16 thread(s) available
GAMS 45.0.0   Copyright (C) 1987-2023 GAMS Development. All rights reserved
--- Starting compilation
--- _gams_py_gjo0.gms(2) 2 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(5) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(8) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(11) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(14) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(17) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(22) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(25) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(30) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(35) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(38) 3 Mb
--- GDXin=C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- GDX File ($gdxLoad) C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
--- _gams_py_gjo0.gms(93) 3 Mb
--- Starting execution: elapsed 0:00:00.032
--- _gams_py_gjo0.gms(19) 4 Mb
--- Generating LP model transport
--- _gams_py_gjo0.gms(68) 4 Mb
---   6 rows  7 columns  19 non-zeroes
--- Range statistics (absolute non-zero finite values)
--- RHS       [min, max] : [ 2.750E+02, 6.000E+02] - Zero values observed as well
--- Bound     [min, max] : [        NA,        NA] - Zero values observed as well
--- Matrix    [min, max] : [ 1.260E-01, 1.000E+00]
--- Executing HIGHS (Solvelink=2): elapsed 0:00:00.049

HIGHS            45.0.0 a37313c4 Sep 14, 2023  (ALPHA) WEI x86 64bit/MS Window

Running HiGHS 1.5.4 [git hash: 977756503]
Copyright (c) 2023 HiGHS under MIT licence terms
Options set:
  time_limit           = 1e+10
  threads              = 1
  mip_abs_gap          = 0

Solving LP without presolve or with basis
Using EKK dual simplex solver - serial
  Iteration        Objective     Infeasibilities num(sum)
          0     0.0000000000e+00 Pr: 3(900) 0s
          3     1.5367500000e+02 Pr: 0(0) 0s
Model   status      : Optimal
Simplex   iterations: 3
Objective value     :  1.5367500000e+02
HiGHS run time      :          0.00
--- Reading solution for model transport
--- Executing after solve: elapsed 0:00:00.144
--- _gams_py_gjo0.gms(93) 4 Mb
--- GDX File C:\Users\jbroi\AppData\Local\Temp\tmp1eqsfa5d\default.gdx
*** Status: Normal completion
--- Job _gams_py_gjo0.gms Stop 09/25/23 16:49:27 elapsed 0:00:00.148

# Results

In [ ]:
x_s = x.records.set_index(["i", "j"])

x_s

                    level  marginal  lower  upper  scale
i         j
seattle   new-york    0.0    -0.000    0.0    inf    1.0
          chicago   300.0     0.000    0.0    inf    1.0
          topeka      0.0     0.036    0.0    inf    1.0
san-diego new-york  325.0     0.000    0.0    inf    1.0
          chicago     0.0     0.009    0.0    inf    1.0
          topeka    275.0     0.000    0.0    inf    1.0

In [ ]:
transport.objective_value

153.675

In [ ]:
transport.status