# A Transportation Problem
## Importing GAMSPy

In [1]:
from gamspy import Container, Sum, Sense

## Importing Further Python Libraries

In [2]:
import pandas as pd
import sys

## Prepare data

In [3]:
distances = pd.DataFrame([
    ["seattle", "new-york", 2.5],
    ["seattle", "chicago", 1.7],
    ["seattle", "topeka", 1.8],
    ["san-diego", "new-york", 2.5],
    ["san-diego", "chicago", 1.8],
    ["san-diego", "topeka", 1.4],
], columns=['from', 'to', 'distance'])

distances.set_index(['from', 'to'])

                    distance
from      to
seattle   new-york       2.5
          chicago        1.7
          topeka         1.8
san-diego new-york       2.5
          chicago        1.8
          topeka         1.4

In [4]:
capacities = pd.DataFrame([["seattle", 350], ["san-diego", 600]], columns=['city', 'capacity'])

capacities.set_index('city')

           capacity
city
seattle         350
san-diego       600

In [5]:
demands = pd.DataFrame([["new-york", 325], ["chicago", 300], ["topeka", 275]], columns=['city', 'demand'])

demands.set_index('city')

          demand
city
new-york     325
chicago      300
topeka       275

## Create a Container

In [6]:
m = Container()

## Define Sets

In [7]:
i = m.addSet(name="i", records=capacities.city)
j = m.addSet(name="j", records=demands.city)

## Parameter

In [8]:
a = m.addParameter(name="a", domain=[i], records=capacities)
b = m.addParameter(name="b", domain=[j], records=demands)
d = m.addParameter(name="d", domain=[i, j], records=distances)
c = m.addParameter(name="c", domain=[i, j])
c[i, j] = 90 * d[i, j] / 1000

## Variables

In [9]:
x = m.addVariable(name="x", domain=[i, j], type="Positive")

## Equations
### Supply

In [10]:
supply = m.addEquation(name="supply", domain=[i])

supply[i] = Sum(j, x[i, j]) <= a[i]

### Demand

In [11]:
demand = m.addEquation(name="demand", domain=[j])

demand[j] = Sum(i, x[i, j]) >= b[j]

## Objective

In [12]:
obj = Sum((i, j), c[i, j] * x[i, j])

## Model

In [13]:
transport = m.addModel(
        name="transport",
        equations=m.getEquations(),
        problem="LP",
        sense=Sense.MIN,
        objective=obj,
    )

## Solve

In [14]:
transport.solve(output=sys.stdout)

--- Job _gams_py_gjo4.gms Start 10/10/23 13:04:04 45.0.0 6d29854d WEX-WEI x86 64bit/MS Windows
--- Applying:
    C:\Users\jbroi\anaconda3\envs\test\Lib\site-packages\gamspy_base\gmsprmNT.txt
    C:\Users\jbroi\Documents\GAMS\gamsconfig.yaml
--- GAMS Parameters defined
    LP CPLEX
    MIP CPLEX
    RMIP CPLEX
    NLP CONOPT
    MCP PATH
    MPEC NLPEC
    RMPEC CONVERT
    CNS CONOPT
    DNLP CONOPT
    RMINLP CONOPT
    MINLP SBB
    QCP CONOPT
    MIQCP SBB
    RMIQCP CONOPT
    EMP CONVERT
    Restart C:\Users\jbroi\AppData\Local\Temp\tmpmgkjze5t\default_restart.g00
    Input C:\Users\jbroi\AppData\Local\Temp\tmpmgkjze5t\_gams_py_gjo4.gms
    Output C:\Users\jbroi\AppData\Local\Temp\tmpmgkjze5t\_gams_py_gjo4.lst
    Save C:\Users\jbroi\AppData\Local\Temp\tmpmgkjze5t\default_save.g00
    ScrDir C:\Users\jbroi\AppData\Local\Temp\tmpmgkjze5t\225a\
    SysDir C:\Users\jbroi\anaconda3\envs\test\Lib\site-packages\gamspy_base\
    CurDir C:\Users\jbroi\AppData\Local\Temp\tmpmgkjze5t\
    LogOption 3
    LogFile C:\Users\jbroi\AppData\Local\Temp\tmpmgkjze5t\_gams_py_gjo4.log
    GDX C:\Users\jbroi\AppData\Local\Temp\tmpmgkjze5t\default.gdx
*** ************* ALPHA release
*** GAMS Base Module 45.0.0 6d29854d Sep 26, 2023  (ALPHA) WEI x86 64bit/MS Window
*** ************* ALPHA release
Licensee: GAMS Demo, for EULA and demo limitations see   G230706/0001CB-GEN
          https://www.gams.com/latest/docs/UG%5FLicense.html         DC0000
          C:\Users\jbroi\Documents\GAMS\gamslice.txt
          Demo license for demonstration and instructional purposes only
Processor information: 1 socket(s), 12 core(s), and 16 thread(s) available
GAMS 45.0.0   Copyright (C) 1987-2023 GAMS Development. All rights reserved
--- Starting continued compilation
--- Workfile was generated under GAMS version WEX450-450
--- _gams_py_gjo4.gms(52) 3 Mb
--- Starting execution: elapsed 0:00:00.013
--- Generating LP model transport
--- _gams_py_gjo4.gms(68) 4 Mb
---   6 rows  7 columns  19 non-zeroes
--- Range statistics (absolute non-zero finite values)
--- RHS       [min, max] : [ 2.750E+02, 6.000E+02] - Zero values observed as well
--- Bound     [min, max] : [        NA,        NA] - Zero values observed as well
--- Matrix    [min, max] : [ 1.260E-01, 1.000E+00]
--- Executing CPLEX (Solvelink=2): elapsed 0:00:00.013

IBM ILOG CPLEX   45.0.0 6d29854d Sep 26, 2023  (ALPHA) WEI x86 64bit/MS Window

*** This solver runs with a demo license. No commercial use.
--- GMO setup time: 0.00s
--- GMO memory 0.50 Mb (peak 0.50 Mb)
--- Dictionary memory 0.00 Mb
--- Cplex 22.1.1.0 link memory 0.00 Mb (peak 0.00 Mb)
--- Starting Cplex

Version identifier: 22.1.1.0 | 2022-11-27 | 9160aff4d
CPXPARAM_Advance                                 0
CPXPARAM_Simplex_Display                         2
CPXPARAM_Threads                                 1
CPXPARAM_MIP_Display                             4
CPXPARAM_MIP_Pool_Capacity                       0
CPXPARAM_MIP_Tolerances_AbsMIPGap                0
Tried aggregator 1 time.
LP Presolve eliminated 0 rows and 1 columns.
Reduced LP has 5 rows, 6 columns, and 12 nonzeros.
Presolve time = 0.00 sec. (0.00 ticks)

Iteration      Dual Objective            In Variable           Out Variable
     1              73.125000    x(seattle,new-york) demand(new-york) slack
     2             119.025000     x(seattle,chicago)  demand(chicago) slack
     3             153.675000    x(san-diego,topeka)   demand(topeka) slack
     4             153.675000  x(san-diego,new-york)  supply(seattle) slack

--- LP status (1): optimal.
--- Cplex Time: 0.00sec (det. 0.01 ticks)


Optimal solution found
Objective:          153.675000

--- Reading solution for model transport
--- Executing after solve: elapsed 0:00:00.032
--- _gams_py_gjo4.gms(93) 4 Mb
--- GDX File C:\Users\jbroi\AppData\Local\Temp\tmpmgkjze5t\default.gdx
*** Status: Normal completion
--- Job _gams_py_gjo4.gms Stop 10/10/23 13:04:04 elapsed 0:00:00.048

## Results

In [15]:
x_s = x.records.set_index(['i', 'j'])

x_s

                    level  marginal  lower  upper  scale
i         j
seattle   new-york   50.0     0.000    0.0    inf    1.0
          chicago   300.0     0.000    0.0    inf    1.0
          topeka      0.0     0.036    0.0    inf    1.0
san-diego new-york  275.0     0.000    0.0    inf    1.0
          chicago     0.0     0.009    0.0    inf    1.0
          topeka    275.0     0.000    0.0    inf    1.0

In [16]:
transport.objective_value

153.675

In [17]:
transport.status